

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{ background-color: lightgray; font-family: 'Titillium Web', sans-serif;
      padding-top: 50px; padding-bottom: 20px;
}
.navbar-inverse { background-color: #49423a; } /* rgb(56, 30, 10); */
.Gen { background-color: lightgreen; font-family: 'Titillium Web', sans-serif;}

.Rhtml {background-color: lightblue; font-family: 'Titillium Web', sans-serif;}

.Rcss {background-color: lightyellow; font-family: 'Titillium Web', sans-serif;}
