audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{ background-color: white; font-family: 'Titillium Web', sans-serif;
      padding-top: 3.5em; padding-bottom: 1.25em;
}
section { padding-top: 3.5em;}
.navbar-inverse { background-color: rgb(56, 30, 10);
  text-align: center;
  padding: .5em 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  } /* rgb(56, 30, 10);  #49423a;  */
.panneaux, Gen { margin-bottom: 5em;}
/*  style des panneaux entete */
.Gen { background-color: lightgreen; font-family: 'Titillium Web', sans-serif;}
.Rhtml { background-color: lightblue; font-family: 'Titillium Web', sans-serif;}
.Rcss { background-color: lightpink; font-family: 'Titillium Web', sans-serif;}
/* pas d'image en small device */
.main-image { display: none; }
/* ligne blanche entete */
.line-icon { border-bottom: 2px solid white; margin: 15px; }

dt { margin-left: 5%; font-weight: bold; font-size: 1.5em; color: #B76A6A;}
dd { margin-left: 20%; font-weight: bolder; font-size: 1.2em;}
/* Accentuation contraste ds les blocs */
.Gen dd { color: darkgreen;}
.Rhtml dd { color: darkblue;}
.Rcss p { color: rgb(78, 12, 12); font-size: 1.2em; }
/* Indentation des balises */
.spacer {padding-left: 3em;}
.twoSpacer {padding-left: 6em;}
@media screen and (min-width: 768px) {
    .main-image { display: none; display: block; margin: 2em auto -1em;}
}
